body {
    margin: 0;
    padding: 0;
    color: #330008;
    background-color: #303030;
    color: #ffe8e8;
}

@media screen and (min-width: 700px) {
    body {
        padding: 0 10rem;
    }
}

a {
    color: red;
    text-decoration: none;
}